<div class="landing">
    <section class="hero-section">
        <header>
            <div class="header-content">
                <img src="assets/images/hadar-logo.png" alt="Header Image" class="header-image-center">
                <h1>HADAR AI-ART STUDIO</h1>
                <div class="header-text">
                    <p>עיצוב לפי בקשתך באמצעות הכלים החדשניים ביותר של טכנולוגיית AI</p>
                </div>
            </div>
            <app-image-carousel [images]="showcaseImages"></app-image-carousel>
        </header>
    </section>

    <div class="overlap-container">
        <img src="assets/images/hadar-bike.png" alt="Overlapping Image" class="overlap-image">
    </div>

    <section class="description-section">
        <div class="content">
            <h2>Bringing Your Imagination to Life</h2>
            <!-- <app-sparkle></app-sparkle> -->
            <div class="description-grid">
                <div class="description-item">
                    <h3>הזמנות לאירועים</h3>
                    <p>יצירות עיצוב ייחודיות, מתמונות אומנותיות ועד עיצובי הזמנות בהתאמה אישית. מוצעים שירותי עיצוב יצירתיים לאירועים מיוחדים, מזכרות, כרטיסי ברכה ועוד, תוך התאמה לכל בקשה במטרה להפוך כל רגע ליצירת אומנות </p>
                </div>
                <div class="description-item">
                    <h3>פרופיל מקצועי</h3>
                    <p>תמונה מקצועית ומעוצבת לרשתות החברתיות, בהתאמה אישית למיתוג ולמסר הרצוי. כל תמונה מעוצבת בקפידה כדי לשדר מקצועיות, יצירתיות ולהשאיר רושם מתמשך. מתאים לפרופילים אישיים ועסקיים כאחד, ליצירת נוכחות דיגיטלית חזקה ומרשימה</p>
                </div>
                <div class="description-item">
                    <h3>מתנה מפתיעה</h3>
                    <p>הפכו כל מתנה למיוחדת במינה! עצבו תמונה בהתאמה אישית כמתנה ייחודית לאדם שיקר ללבכם, תוכלו להעניק יצירת אמנות אישית שתשאיר רושם מתמשך ותהפוך לרגע בלתי נשכח. מושלם לימי הולדת, אירועים מיוחדים או סתם כדי להראות אהבה.</p>
                </div>
                <div class="description-item">
                    <h3>להתפרע עם הדמיון</h3>
                    <p>ואם מתחשק לך משהו קצת שונה – ניתן ליצור תמונה יצירתית ומיוחדת שבה אתם מופיעים בחלל, בים, באוויר, או אולי הכלב שלכם לצד דרקונים ואגדות, כל מה שעולה בדמיון!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery-section">
        <app-image-gallery></app-image-gallery>
    </section>

    <section class="cta-section">
        <h2>מוכנים להפוך את הדמיון למציאות?</h2>
        <button class="cta-button">ליצירת קשר</button>
    </section>

    <footer class="footer-section">
        <p style="direction: ltr;">&copy; 2025 Hadar Dashty AI-Art Studio. All rights reserved.</p>
    </footer>
</div>